<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.billback.mapper.BillMapper">

    <select id="getBills" resultType="com.example.billback.vo.BillVo">
        SELECT
            b.id,
            b.user_id,
            b.amount,
            b.bill_date,
            b.DESC,
            b.type,
            b.create_time,
            b.update_time
        FROM
            bills b
            LEFT JOIN bill_tags bt ON bt.bill_id = b.id
        <where>
            1 = 1
            <!-- 用户 -->
            <if test="billDto.userId != null">
                AND b.user_id = #{billDto.userId}
            </if>
            <!-- 收支类型:1-支出,2收入 -->
            <if test="billDto.type != null">
                AND b.type = #{billDto.type}
            </if>
            <!-- 账单月份 -->
            <if test="billDto.month != null and billDto.month != ''">
                AND strftime( '%Y-%m', b.bill_date ) = #{billDto.month}
            </if>
            <!-- 标签取交集 -->
            <if test="billDto.tagIds != null and billDto.tagIds.size > 0 ">
                and b.id in
                <foreach collection="billDto.tagIds" item="t" separator="INTERSECT" index="i" open="(" close=")">
                    SELECT bill_id from bill_tags WHERE tag_id = #{t}
                </foreach>
            </if>
        </where>
        GROUP BY b.id
    </select>

</mapper>